  <div
    {{did-insert this.getFeaturedTopics}}
    {{did-update this.getFeaturedTopics this.args.category}}
    class="tlp-featured-topics {{if this.showFeatured 'has-topics'}}"
  >
  {{#if this.showFeatured}}
    {{#if this.showFeaturedTitle}}
      <div class="featured-title">
        {{this.featuredTitle}}
      </div>
    {{/if}}
    <div class="topics">
      {{#each this.featuredTopics as |t|}}
        <TlpFeaturedTopic @topic={{t}}/>
      {{/each}}
    </div>
    {{#if this.showFeaturedTags}}
      <div class="featured-tags">
        {{#each this.featuredTags as |tag|}}
          {{discourse-tag tag}}
        {{/each}}
      </div>
    {{/if}}
    {{/if}}
  </div>

