<div class="featured-details">
  {{preview-unbound topic.thumbnails opts=(hash featured=true)}}
  <div class="content">
    <div class="title">
      {{topic.title}}
    </div>
    {{#if siteSettings.topic_list_featured_excerpt}}
      <div class="excerpt">
        {{{topic.excerpt}}}
      </div>
    {{/if}}
    <span class="user">
      {{featuredUsername}}
      {{avatar featuredUser imageSize="small"}}
    </span>
  </div>
</div>
